/*********************************** Footer Styles ******************************************/
/**** Variable Declarations ****/
/* line 7, ../sass/footer.scss */
#footer {
  margin-left: auto;
  margin-right: auto;
  float: none;
  margin-top: 80px;
}
/* line 12, ../sass/footer.scss */
#footer p {
  line-height: 1.5;
  text-align: center;
  font-size: 14px;
  font-weight: normal;
}
/* line 17, ../sass/footer.scss */
#footer p a {
  font-size: 14px;
}
