/*********************************** Body Styles ******************************************/

/**** Variable Declarations ****/
$HSFred:#BB2233;
$text-color:#000;

#body-contents {
	margin-left:auto;
	margin-right:auto;
	float:none;
	p{
		line-height:1.5;
	}	
}


/*********************************** Body Media Querries *******************************************/

@media only screen and (max-width:950px){
	.col-3 > img,
	.col-6 > img{
		margin-left:auto;
		margin-right:auto;
	}
	.col-3 > p,
	.col-6 > p{
		text-align:center;
	}		
}


